.description {
  width: 297px;
  font-size: 14px;
  font-weight: 300;
  color: #374151;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price {
  font-weight: bold;
}

.price-tacched {
  color: #9ca3af;
  text-decoration: line-through;
}

.button-basket {
  text-transform: capitalize !important;
}

.product-photo {
  width: 250px;
  height: 400px;
  object-fit: fill;
}

.product-photo:hover {
  opacity: 0.5;
}

.food-name {
  font-weight: bold;
  font-size: 15px;
}